
/* Crea portada */
.portada{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Centra boton*/
.portada button{
    margin: auto;
}


/* Cambia maximo tamaño imagenes */
#auto1 img, #auto2 img{
    max-width: 400px;
}

/* Cambia maximo tanmaño de canvas*/
#canvas{
    max-width: 400px;
}